.layout-content div {
  overflow: hidden;
}

.about-hero-wrapper {
  width: 100%;
  height: 530px;
  background-image: url(/assets/images/DevBg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -o-object-fit: contain;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title {
  color: #fff;
  text-align: right;
  font-family: Orbitron;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.4px;
  text-transform: uppercase;
}

.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/download1\(2\).png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.contact-page-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 85px;
  position: relative;
}

.contact-page-container:before {
  content: "";
  background: url(/assets/images/Group375.png) no-repeat top center;
  transform: translateY(-3rem) translate(5%);
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 3%;
  background-size: 100% 100%;
}

.contact-page-container:after {
  content: "";
  background: url(/assets/img/Group375.png) no-repeat top center;
  transform: translateY(4rem) translate(5%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3%;
  background-size: 100% 100%;
}

.contact-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-info-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 55px;
  width: 40%;
}

.contact-info-card > h2 {
  color: #fff;
  text-align: center;
  font-family: "Orbitron";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.56px;
  text-transform: uppercase;
  margin: 0;
}

.contact-info-card > .row {
  display: flex;
  gap: 1rem;
}

.contact-info-card > .row > p {
  color: #fff;
  font-family: "Orbitron";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.contact-info-card > .row > p {
  color: #fff;
  font-family: Blender Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.contact-form-card {
  width: 33.375rem;
  height: 34.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #537dd80d;
}

.contact-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: center;
  width: 30.375rem;
  height: 31.125rem;
  position: relative;
  --s: 10px;
  --t: 5px;
  --g: -1px;
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid rgba(255, 255, 255, 0.5);
  outline-offset: calc(-1 * var(--t));
  -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: 0.5s;
}

.contact-form > input {
  background-color: transparent;
  width: 60%;
  height: 28.521px;
  border-style: none;
  color: #fffc;
  font-family: Orbitron;
  font-size: 7.989px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.639px;
  text-transform: uppercase;
  margin-left: 1rem;
}

textarea {
  background-color: transparent;
  width: 80%;
  height: 113px;
  margin-left: 1rem;
  padding: 0.6rem;
  border-style: none;
  background-image: url(/assets/images/texterea.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -o-object-fit: fill;
  object-fit: fill;
  color: #fffc;
  font-family: Orbitron;
  font-size: 7.989px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.639px;
  text-transform: uppercase;
}

.mid-button {
  width: 100px;
  height: 49px;
  background: url(/assets/svgs/mid-button.svg) no-repeat;
  background-size: 100% 100%;
  border: none;
  color: #3856b9;
  text-align: center;
  font-family: Orbitron;
  font-size: 8px;
  font-style: normal;
  font-weight: 800;
  position: relative;
  line-height: normal;
  letter-spacing: 0.688px;
  text-transform: uppercase;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact-info-card > .row > p {
  color: #fff;
  font-family: "Orbitron";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin: 0;
}

.recaptcha {
  margin-left: 1rem;
}

.ml-1 {
  margin-left: 1rem !important;
}

@media screen and (max-width: 992px) {
  .contact-card-container {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .contact-form-card {
    width: 80%;
  }

  .contact-form {
    width: 90%;
  }
}

@media screen and (max-width: 694px) {
  .contact-info-card {
    width: 100%;
  }

  .contact-form-card {
    height: 110vw;
    width: 100% !important;
  }

  .contact-form {
    height: 100vw;
    width: 100%;
  }

  .contact-form > input {
    background-color: transparent;
    width: 80%;
  }
}

@media screen and (max-width: 580px) {
  .about-hero-wrapper {
    height: 173px;
  }

  .about-title {
    font-size: 18.146px;
  }
}
