.layout-content div {
  overflow: hidden;
}

.about-hero-wrapper {
  width: 100%;
  height: 430px;
  background-image: url(/assets/images/DevBg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -o-object-fit: contain;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title {
  color: #fff;
  text-align: right;
  font-family: "Orbitron";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.4px;
  text-transform: uppercase;
}

.term-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/assets/images/download1\(2\).png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  position: relative;
}

.term-wrapper:before {
  content: "";
  background: url(/assets/img/Group375.png) no-repeat top center;
  transform: translateY(-3rem) translate(5%);
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 1.5%;
  background-size: 100% 100%;
}

.term-wrapper:after {
  content: "";
  background: url(/assets/img/Group375.png) no-repeat top center;
  transform: translateY(3rem) translate(5%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 1.5%;
  background-size: 100% 100%;
}

.term-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.term-container * {
  color: #fff;
  font-family: "Orbitron";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 580px) {
  .about-hero-wrapper {
    height: 173px;
  }

  .about-title {
    font-size: 18.146px;
  }

  .term-container {
    margin-bottom: 1.5rem;
  }
}
