.layout-content div {
  overflow: hidden;
}

.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/login-back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  -o-object-fit: fill;
  object-fit: fill;
  filter: blur(8px);
  z-index: -1 !important;
}

.signup-card-form {
  display: flex;
  flex-direction: column;
  z-index: 1 !important;
}

.login-card {
  margin-top: 4rem;
  width: 503px;
  height: 535px;
  position: absolute;
  z-index: 2 !important;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card > .tag {
  width: 6.938rem;
  height: 1.75rem;
  background: radial-gradient(#f6f499, #f6d76a);
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 97% 0, 100% 20%, 100% 100%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card > .tag > p {
  color: #191e23;
  text-align: center;
  font-family: Orbitron;
  font-size: 12.397px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.24px;
  text-transform: uppercase;
}

.signup-card-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-socials {
  width: 50%;
  display: flex;
  align-items: baseline;
  z-index: 1 !important;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

a {
  text-decoration: none;
  font-family: Hacen;
}

.login-card-form {
  display: flex;
  flex-direction: column;
  z-index: 1 !important;
  gap: 1rem;
  position: relative;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 412px;
}

input {
  background-color: transparent;
  width: 100%;
  height: 38px;
  padding: 6px 14px;
  border-style: none;
  color: #fffc;
  font-family: Orbitron;
  font-size: 10px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.639px;
  text-transform: uppercase;
  --s: 5px;
  --t: 2px;
  --g: 2px;
  outline: var(--t) solid rgba(255, 255, 255, 0.5);
  outline-offset: calc(-1 * var(--t));
  -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: 0.5s;
}

.forgot-password-link {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Blender Pro;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  align-self: flex-end;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 412px;
}

.login-redirection > p {
  color: #fff;
  font-family: "Inter";
  font-size: 0.5rem !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.38px;
  text-transform: uppercase;
}

.login-redirection > p > a {
  color: #ffea31;
  font-family: "Inter";
  font-size: 0.5rem !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.38px;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-decoration: none;
}

.mid-button {
  width: 143px;
  height: 49px;
  background: url(/assets/svgs/mid-button.svg) no-repeat;
  background-size: 100% 100%;
  border: none;
  color: #3856b9;
  text-align: center;
  font-family: Orbitron;
  font-size: 8px;
  font-style: normal;
  font-weight: 800;
  position: relative;
  line-height: normal;
  letter-spacing: 0.688px;
  text-transform: uppercase;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

.metamask-button {
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .register-wrapper {
    -o-object-fit: cover;
    object-fit: cover;
    background-position: 50% 50%;
    background-size: auto;
  }

  .login-card {
    width: 90% !important;
    height: unset !important;
    top: 38% !important;
  }

  .login-card > .tag {
    width: 66.185px;
    height: 15.503px;
  }

  .login-card > .tag > p {
    font-size: 7.392px;
  }

  .signup-card-background {
    height: 100% !important;
  }

  .register-socials {
    margin-bottom: 1rem;
  }

  .login-card-form {
    width: 85%;
  }

  .input-row {
    width: 100%;
  }

  input {
    height: 22.062px;
  }

  .login-card-form > .input-row {
    width: 90%;
  }
}
